<H3>Word frequency analyzer</H3>

<label>
  <p>Input for text</p>
  <textarea [(ngModel)]="text"></textarea>
</label>
<label>
  <p>Highest frequency:</p>
  {{calculateHighestFrequency(text)}}
</label>
<label>
  <p>Frequency for word:</p>
  <p>Input for word: <input [(ngModel)]="word" type="text" /></p>
  {{calculateFrequencyForWord(text, word)}}
</label>
<label>
  <p>Most frequency n words:</p>
  <p>n: <input [(ngModel)]="n" type="number" value="3"/> </p>
</label>
<table>
  <tr>
    <th>word</th><th>frequency</th>
  </tr>
  <tr *ngFor="let fw of calculateMostFrequentNWords(text, n)">
    <td>{{fw.word}}</td><td>{{fw.frequency}}</td>
  </tr>
</table>

